# Environment file
.env

# Virtual environment (file or folder named .venv)
.venv

# Log files
*.log

# PDF files
*.pdf

# Binary files
*.bin

# SQLite database files
*.sqlite3

# Python cache files
*.pyc